.main {
  background: url("../../../images/tokio_noch.jpg") no-repeat center center/cover;
  height: 80vh;
  transition: all ease 0.4s;
}
.main__title {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 10%;
  font-size: 29px;
}
@media (max-width: 436px) {
  .main__title h2 {
    font-size: 20px;
  }
}
.main .container .main__arrow {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
}

.slaider__img.manifestation-show {
  opacity: 1;
  animation: mani 1s ease-in-out 0s 1 normal forwards;
}

@media (max-width: 436px) {
  .slaider {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
.slaider__h2 {
  color: #fff;
  border-bottom: 1px solid #e73e58;
  font-size: 52px;
  display: flex;
  justify-content: center;
  font-weight: 100;
}
@media (max-width: 436px) {
  .slaider__h2 {
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 12px;
  }
}
.slaider__img {
  opacity: 1;
  margin: 20px 0 110px 0;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  gap: 35px;
}
@media (max-width: 436px) {
  .slaider__img {
    margin: 0;
    height: 400px;
    width: 1200px;
    margin-bottom: 12px;
  }
}
.slaider .card {
  position: relative;
  width: 17%;
  height: 100%;
  perspective: 1000px;
}
@media (max-width: 436px) {
  .slaider .card {
    height: 100%;
    border-radius: 10px;
  }
}
.slaider .card .card__front, .slaider .card .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
  border-radius: 20px;
}
@media (max-width: 436px) {
  .slaider .card .card__front, .slaider .card .card__back {
    border-radius: 10px;
  }
}
.slaider .card .card__front {
  background-color: transparent;
  z-index: 2;
}
.slaider .card .card__front img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 436px) {
  .slaider .card .card__front img {
    border-radius: 10px;
  }
}
.slaider .card .card__back {
  background-color: #222222;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slaider .card .card__back .slaideer__content {
  color: white;
  font-size: 15px;
  padding: 0 10px 0 10px;
}
@media (max-width: 1449px) {
  .slaider .card .card__back .slaideer__content {
    font-size: 11px;
  }
}
@media (max-width: 436px) {
  .slaider .card .card__back .slaideer__content {
    font-size: 11px;
  }
}
.slaider .card .card__back .slaideer__content .span__slaider {
  font-weight: 900;
}
.slaider .card:hover .card__front {
  transform: rotateY(180deg);
}
.slaider .card:hover .card__back {
  transform: rotateY(0deg);
}

.container2.manifestation-show {
  opacity: 1;
  animation: mani 1s ease-in-out 0s 1 normal forwards;
}

.container2 {
  color: #fff;
  margin: 0 14% 5% 14%;
  background-color: #222222;
  border-radius: 2%;
}
@media (max-width: 436px) {
  .container2 {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}

.block__title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e73e58;
  margin-bottom: 5%;
}
.block__title__h3 {
  font-size: 29px;
}

.block__card {
  display: flex;
  justify-content: center;
  gap: 2%;
  padding-bottom: 5%;
}
@media (max-width: 436px) {
  .block__card {
    display: inline;
  }
}
.block__card-ymaps {
  width: 560px;
  height: 445px;
}
@media (max-width: 436px) {
  .block__card-ymaps {
    margin: 0 6% 0 6%;
    width: 354px;
  }
}
@media (max-width: 376px) {
  .block__card-ymaps {
    margin: 0 1% 0 1%;
    width: 354px;
  }
}
.block__card__p {
  max-width: 36%;
  text-align: center;
  font-size: 27px;
}
@media (max-width: 436px) {
  .block__card__p {
    font-size: 15px;
    text-transform: none;
    max-width: 99%;
  }
}/*# sourceMappingURL=Home.css.map */